.input {
  width: 100%;
  height: 100%;
  font-size: var(--fontSize-lg);
  text-overflow: ellipsis;
  outline: none;
  border: none;
  color: var(--color-gray-900);

  &::placeholder {
    color: var(--color-gray-400);
  }
}
