:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-whiteAlpha-50: rgba(255, 255, 255, 0.04);
  --color-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  --color-whiteAlpha-200: rgba(255, 255, 255, 0.08);
  --color-whiteAlpha-300: rgba(255, 255, 255, 0.16);
  --color-whiteAlpha-400: rgba(255, 255, 255, 0.24);
  --color-whiteAlpha-500: rgba(255, 255, 255, 0.36);
  --color-whiteAlpha-600: rgba(255, 255, 255, 0.48);
  --color-whiteAlpha-700: rgba(255, 255, 255, 0.64);
  --color-whiteAlpha-800: rgba(255, 255, 255, 0.8);
  --color-whiteAlpha-900: rgba(255, 255, 255, 0.92);
  --color-blackAlpha-50: rgba(0, 0, 0, 0.04);
  --color-blackAlpha-100: rgba(0, 0, 0, 0.06);
  --color-blackAlpha-200: rgba(0, 0, 0, 0.08);
  --color-blackAlpha-300: rgba(0, 0, 0, 0.16);
  --color-blackAlpha-400: rgba(0, 0, 0, 0.24);
  --color-blackAlpha-500: rgba(0, 0, 0, 0.36);
  --color-blackAlpha-600: rgba(0, 0, 0, 0.48);
  --color-blackAlpha-700: rgba(0, 0, 0, 0.64);
  --color-blackAlpha-800: rgba(0, 0, 0, 0.8);
  --color-blackAlpha-900: rgba(0, 0, 0, 0.92);
  --color-gray-50: #f7fafc;
  --color-gray-100: #edf2f7;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e0;
  --color-gray-400: #a0aec0;
  --color-gray-500: #718096;
  --color-gray-600: #4a5568;
  --color-gray-700: #2d3748;
  --color-gray-800: #1a202c;
  --color-gray-900: #171923;
  --color-red-50: #fff5f5;
  --color-red-100: #fed7d7;
  --color-red-200: #feb2b2;
  --color-red-300: #fc8181;
  --color-red-400: #f56565;
  --color-red-500: #e53e3e;
  --color-red-600: #c53030;
  --color-red-700: #9b2c2c;
  --color-red-800: #822727;
  --color-red-900: #63171b;
  --color-orange-50: #fffaf0;
  --color-orange-100: #feebc8;
  --color-orange-200: #fbd38d;
  --color-orange-300: #f6ad55;
  --color-orange-400: #ed8936;
  --color-orange-500: #dd6b20;
  --color-orange-600: #c05621;
  --color-orange-700: #9c4221;
  --color-orange-800: #7b341e;
  --color-orange-900: #652b19;
  --color-yellow-50: #fffff0;
  --color-yellow-100: #fefcbf;
  --color-yellow-200: #faf089;
  --color-yellow-300: #f6e05e;
  --color-yellow-400: #ecc94b;
  --color-yellow-500: #d69e2e;
  --color-yellow-600: #b7791f;
  --color-yellow-700: #975a16;
  --color-yellow-800: #744210;
  --color-yellow-900: #5f370e;
  --color-green-50: #f0fff4;
  --color-green-100: #c6f6d5;
  --color-green-200: #9ae6b4;
  --color-green-300: #68d391;
  --color-green-400: #48bb78;
  --color-green-500: #38a169;
  --color-green-600: #2f855a;
  --color-green-700: #276749;
  --color-green-800: #22543d;
  --color-green-900: #1c4532;
  --color-teal-50: #e6fffa;
  --color-teal-100: #b2f5ea;
  --color-teal-200: #81e6d9;
  --color-teal-300: #4fd1c5;
  --color-teal-400: #38b2ac;
  --color-teal-500: #319795;
  --color-teal-600: #2c7a7b;
  --color-teal-700: #285e61;
  --color-teal-800: #234e52;
  --color-teal-900: #1d4044;
  --color-blue-50: #ebf8ff;
  --color-blue-100: #bee3f8;
  --color-blue-200: #90cdf4;
  --color-blue-300: #63b3ed;
  --color-blue-400: #4299e1;
  --color-blue-500: #3182ce;
  --color-blue-600: #2b6cb0;
  --color-blue-700: #2c5282;
  --color-blue-800: #2a4365;
  --color-blue-900: #1a365d;
  --color-cyan-50: #edfdfd;
  --color-cyan-100: #c4f1f9;
  --color-cyan-200: #9decf9;
  --color-cyan-300: #76e4f7;
  --color-cyan-400: #0bc5ea;
  --color-cyan-500: #00b5d8;
  --color-cyan-600: #00a3c4;
  --color-cyan-700: #0987a0;
  --color-cyan-800: #086f83;
  --color-cyan-900: #065666;

  --color-text: #333333;
  --color-body: #f4f4f3;

  --font-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --fontSize-xs: 10px;
  --fontSize-sm: 13px;
  --fontSize-md: 15px;
  --fontSize-lg: 16px;
  --fontSize-xl: 18px;
  --fontSize-2xl: 22px;
  --fontSize-3xl: 1.875rem;
  --fontSize-4xl: 2.25rem;
  --fontSize-5xl: 3rem;
  --fontSize-6xl: 3.75rem;
  --fontSize-7xl: 4.5rem;
  --fontSize-8xl: 6rem;
  --fontSize-9xl: 8rem;
  --fontSize-xxs: 9px;

  --radius-none: 0;
  --radius-sm: 2px;
  --radius-base: 3px;
  --radius-md: 4px;
  --radius-lg: 6px;
  --radius-xl: 8px;
  --radius-2xl: 10px;
  --radius-3xl: 1.5rem;
  --radius-full: 9999px;
  --radius-huge: 15px;

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 28px;
  --space-4xl: 32px;
  --space-5xl: 36px;
  --space-6xl: 40px;

  --size-xs: 10px;
  --size-sm: 12px;
  --size-md: 16px;
  --size-lg: 20px;
  --size-xl: 24px;
  --size-2xl: 32px;
  --size-3xl: 40px;
  --size-4xl: 80px;
  --size-5xl: 160px;
  --size-6xl: 320px;

  --size-container-sm: 640px;
  --size-container-md: 768px;
  --size-container-lg: 1024px;
  --size-container-xl: 1280px;

  --shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0px 1px 3px var(--colors-greyScale-boxShadow);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  --zIndex-hide: -1;
  --zIndex-auto: auto;
  --zIndex-base: 0;
  --zIndex-docked: 10;
  --zIndex-dropdown: 1000;
  --zIndex-sticky: 1100;
  --zIndex-banner: 1200;
  --zIndex-overlay: 1300;
  --zIndex-modal: 1400;
  --zIndex-popover: 1500;
  --zIndex-skipLink: 1600;
  --zIndex-toast: 1700;
  --zIndex-tooltip: 1800;

  --transition-property-common: background-color, border-color, color, fill,
    stroke, opacity, box-shadow, transform;
  --transition-property-colors: background-color, border-color, color, fill,
    stroke;

  --transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration-ultra-fast: 50ms;
  --transition-duration-faster: 100ms;
  --transition-duration-fast: 150ms;
  --transition-duration-normal: 200ms;
  --transition-duration-slow: 300ms;
  --transition-duration-slower: 400ms;
  --transition-duration-ultra-slow: 500ms;
}
