.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  max-width: var(--size-container-sm);
  margin: var(--space-xl) auto;

  h5 {
    margin-bottom: var(--space-sm);
  }

  button {
    width: max-content;
  }
}

.formState {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.error {
  color: var(--color-error);
}

.disclaimer {
  font-style: italic;
  margin-top: var(--space-xl);
  font-size: var(--fontSize-sm);
  color: var(--color-gray-400);

  &:before {
    content: "*";
    color: red;
    margin-right: var(--space-sm);
  }
}
