.mapFooter {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: var(--space-md);
  z-index: var(--zIndex-overlay);
  padding: var(--space-md);
}

.dateInput {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
