.mainContainer {
  margin: 0 auto;
  width: -webkit-fill-available;

  &.minimal {
    display: contents;
  }

  &:not(.minimal) {
    padding: var(--space-6xl) var(--space-md);
    max-width: var(--size-container-xl);
  }
}
