@import "../css/variables";

.footerContainer {
  padding: var(--space-3xl);

  background-color: var(--color-main-900);
  color: var(--color-white);
}

.footer {
  display: flex;
  justify-content: center;
  gap: var(--space-3xl);

  @media (max-width: $media-lg) {
    a span {
      display: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
  }
}
