.navbarContainer {
  position: sticky;
  top: 0;
  padding: var(--space-3xl);

  background-color: var(--color-main-900);
  color: var(--color-white);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: var(--size-container-xl);
}

.navMenu {
  display: flex;
  gap: var(--space-6xl);
}

.logo {
  height: 50px;
}

.navItem {
  display: flex;
  gap: var(--space-sm);
  cursor: pointer;

  &.noAction {
    cursor: default;

    &:hover {
      color: inherit;
      & svg {
        color: inherit;
      }
    }
  }
}
