@import "../css/variables";

.topFooter {
  padding: var(--space-3xl);
  background-color: var(--color-main-900);
  color: var(--color-white);
}

.bottomFooter {
  padding: var(--space-md);
  background-color: var(--color-gray-900);
  color: var(--color-gray-500);
  font-size: var(--fontSize-sm);
}

.footer {
  display: flex;
  justify-content: center;
  gap: var(--space-3xl);
  text-align: center;

  @media (max-width: $media-lg) {
    a span {
      display: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
  }
}

@media (max-width: $media-lg) {
  .topFooter {
    padding: var(--space-sm) var(--space-3xl);
  }
}
