@import "../css/variables";

.navbarContainer {
  position: sticky;
  top: 0;
  padding: var(--space-3xl);
  background-color: var(--color-main-900);
  color: var(--color-white);
  z-index: var(--zIndex-docked);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: var(--size-container-xl);
}

.navMenu {
  display: flex;
  gap: var(--space-6xl);
}

.logo img {
  height: 50px;
}

.navItem {
  display: flex;
  gap: var(--space-sm);
  cursor: pointer;
  padding: var(--space-lg);
  border-radius: var(--radius-lg);

  &.current {
    border-bottom: 3px solid var(--color-main-500);
  }

  &:hover:not(.noAction) {
    background-color: var(--color-main-800);
    box-shadow: var(--shadow-sm);
  }

  &.noAction {
    cursor: default;

    &:hover {
      color: inherit;
      & svg {
        color: inherit;
      }
    }
  }
}

@media (max-width: $media-lg) {
  .navbarContainer {
    padding: 0 var(--space-3xl);
  }

  .navMenu {
    gap: 0;
  }

  .logo {
    width: 47px;
    overflow: hidden;
  }

  .navItem span {
    display: none;
  }
}
